# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*a.out

# autoreconf
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.h.in
config.h
config.status
config/
configure
depcomp
missing
install-sh
stamp-h1
doc/Makefile
doc/Makefile.in
doc/filemq.1
doc/*.3
libtool
src/.deps/
src/Makefile
src/Makefile.in
src/libfmq.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
